/.vs
/src/backend/bin
/src/backend/obj
/www/node_modules
/src/mobile/bin
/src/mobile/obj
/output
/*.apk
/*.zip
/src/mobile/Roadnik.MAUI.csproj.user
/src/common/bin
/src/common/obj
/www/dist/room/bundle.js
/www/dist/room/bundle.js.LICENSE.txt
/example-ride.gpx
/src/mobile/Resources/Raw/webApp/
/.keys
/src/backend/Properties/launchSettings.json
/src/.vs/
/src/backend/.data/
/AGENTS.md
